Fill_Level_Monitoring.json
[{"id":"e95bca94.78c178","type":"tab","label":"Fill Level","disabled":true,"info":""},{"id":"f11d5e0a.51a29","type":"debug","z":"e95bca94.78c178","name":"","active":true,"console":"true","complete":"true","x":817,"y":336,"wires":[]},{"id":"7c9b8725.04fc58","type":"cloudant out","z":"e95bca94.78c178","name":"IWS DB INPUT","cloudant":"ebfa1e62.594ee","database":"gb21bindetails","service":"_ext_","payonly":false,"operation":"insert","x":834,"y":462,"wires":[]},{"id":"54b7c7b3.0df8b8","type":"function","z":"e95bca94.78c178","name":"UBinMsgConvert","func":"var str=msg;\n//var lvlmsg = { \"_id\":\"ubin\", payload: \"ubin\"};\nstr.payload=\"ubin\";\nreturn str;","outputs":"1","noerr":0,"x":473,"y":153,"wires":[["7d21daaa.9dfa94"]]},{"id":"7d21daaa.9dfa94","type":"cloudant in","z":"e95bca94.78c178","name":"Bin DB Search","cloudant":"ebfa1e62.594ee","database":"gb21bindetails","service":"_ext_","search":"_id_","design":"","index":"","x":475,"y":252,"wires":[["dc1117eb.322b28"]]},{"id":"dc1117eb.322b28","type":"function","z":"e95bca94.78c178","name":"Read_revfromCloudant","func":"var rev=msg;\nrev.topic=\"rev\";\nrev.payload=msg.payload._rev;\nreturn rev;","outputs":"1","noerr":0,"x":494,"y":350,"wires":[["ef3f949c.2ed348"]]},{"id":"ef3f949c.2ed348","type":"function","z":"e95bca94.78c178","name":"Wait for rev and fill level","func":"context = context || new Object();\n//msg2 = msg2 || {\"fill_level\":\"\",\"rev\":\"\"};\nswitch (msg.topic) {\n    case \"SRF\":\n        context.fill_level = msg.payload;\n        msg = null;\n        break;\n    case \"rev\":\n        context.rev = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.fill_level!==null && context.rev !== null) {\n    var msg2 = {\"_id\":\"\",\"fill_level\":\"\",\"_rev\":\"\"};\n    msg2.fill_level = context.fill_level;\n    msg2._rev = context.rev;\n    msg2._id=\"ubin\";\n    context.data=null;\n\treturn msg2;\n}","outputs":"1","noerr":0,"x":496,"y":462,"wires":[["f11d5e0a.51a29","7c9b8725.04fc58"]]},{"id":"cfcf89f9.f256b8","type":"rbe","z":"e95bca94.78c178","name":"","func":"rbe","gap":"","start":"","inout":"out","x":432,"y":62,"wires":[["54b7c7b3.0df8b8"]]},{"id":"1fc66590.5e4f8a","type":"rpi-srf","z":"e95bca94.78c178","name":"Ultrasonic Sensor","topic":"SRF","pulse":"10","pins":"38,40","x":120,"y":128,"wires":[["cfcf89f9.f256b8","ef3f949c.2ed348"]]},{"id":"ebfa1e62.594ee","type":"cloudant","z":"","host":"705ba772-dcb6-49e2-9357-132111ab40c5-bluemix.cloudant.com","name":"IWS BinDetails DB"}]