Servo_Controls.json
[{"id":"187867a3.51ce78","type":"tab","label":"Servo","disabled":true,"info":""},{"id":"b17a32bc.96002","type":"pi-gpiod out","z":"187867a3.51ce78","name":"","host":"localhost","port":8888,"pin":"2","set":"","level":"0","out":"ser","sermin":"600","sermax":"2400","x":560,"y":240,"wires":[]},{"id":"f7ccfb63.371df8","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"x":450,"y":80,"wires":[["b17a32bc.96002"]]},{"id":"b964d3ff.eb0db","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"30","payloadType":"json","repeat":"","crontab":"","once":false,"x":450,"y":40,"wires":[["b17a32bc.96002"]]},{"id":"4747a014.98184","type":"pi-gpiod out","z":"187867a3.51ce78","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"700","sermax":"2200","x":560,"y":320,"wires":[]},{"id":"553e9556.e5f4dc","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"x":450,"y":400,"wires":[["4747a014.98184"]]},{"id":"d031c384.c1ce1","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"75","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":440,"wires":[["4747a014.98184","2dd78cfa.cf13f4"]]},{"id":"81181208.acf4c","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"35","payloadType":"json","repeat":"","crontab":"","once":false,"x":490,"y":440,"wires":[["4747a014.98184","2dd78cfa.cf13f4"]]},{"id":"2dd78cfa.cf13f4","type":"debug","z":"187867a3.51ce78","name":"","active":true,"console":"true","complete":"payload","x":646,"y":390,"wires":[]},{"id":"51e56dfb.036554","type":"pi-gpiod out","z":"187867a3.51ce78","name":"","host":"localhost","port":8888,"pin":"11","set":"","level":"0","out":"ser","sermin":"400","sermax":"4000","x":760,"y":260,"wires":[]},{"id":"a05061b9.252d","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"x":590,"y":160,"wires":[["51e56dfb.036554"]]},{"id":"5d5ecf5a.7a19","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"100","payloadType":"json","repeat":"","crontab":"","once":false,"x":590,"y":40,"wires":[["51e56dfb.036554"]]},{"id":"ba7cd08f.29852","type":"inject","z":"187867a3.51ce78","name":"","topic":"","payload":"40","payloadType":"json","repeat":"","crontab":"","once":false,"x":590,"y":100,"wires":[["51e56dfb.036554"]]}]