Code/Database_Entry.json
[{"id":"bb0ecf72.e77d2","type":"tab","label":"Database Flow","disabled":true,"info":""},{"id":"df37fc69.30858","type":"inject","z":"bb0ecf72.e77d2","name":"input string","topic":"","payload":"cardboard","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":435,"wires":[["18541c2e.ba4844"]]},{"id":"d18aa91e.0cf9f8","type":"inject","z":"bb0ecf72.e77d2","name":"input waste data","topic":"","payload":"{\"_id\":\"egg2\",\"name\":\"egg_name\",\"type\":\"organic\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":444,"y":178,"wires":[["f82b2863.f3c848"]]},{"id":"18541c2e.ba4844","type":"cloudant in","z":"bb0ecf72.e77d2","name":"Bin DB Search","cloudant":"805238a1.fd8e58","database":"trash","service":"_ext_","search":"_id_","design":"","index":"","x":173,"y":220,"wires":[["7a1ea9ea.d0e798","7710452f.66f27c"]]},{"id":"f82b2863.f3c848","type":"cloudant out","z":"bb0ecf72.e77d2","name":"IWS DB INPUT","cloudant":"805238a1.fd8e58","database":"trash","service":"_ext_","payonly":true,"operation":"insert","x":659,"y":89,"wires":[]},{"id":"7710452f.66f27c","type":"debug","z":"bb0ecf72.e77d2","name":"","active":true,"console":"true","complete":"payload","x":813,"y":223,"wires":[]},{"id":"7a1ea9ea.d0e798","type":"function","z":"bb0ecf72.e77d2","name":"MSG CONVERT","func":"msg.payload=msg.payload.type;\n\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":281,"wires":[["32d9aa80.7ba696"]]},{"id":"32d9aa80.7ba696","type":"switch","z":"bb0ecf72.e77d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"organic","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":426,"y":438,"wires":[["c8acaf01.0e654"],["a03078b4.e9d108"]]},{"id":"c8acaf01.0e654","type":"trigger","z":"bb0ecf72.e77d2","op1":"1111111111111","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"s","reset":"","name":"","x":554,"y":400,"wires":[["7710452f.66f27c"]]},{"id":"a03078b4.e9d108","type":"trigger","z":"bb0ecf72.e77d2","op1":"444444","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"s","reset":"","name":"","x":556,"y":478,"wires":[["7710452f.66f27c"]]},{"id":"805238a1.fd8e58","type":"cloudant","z":"","host":"72672fe2-5dee-4ddc-946c-1ad2bdfdf764-bluemix.cloudant.com","name":"IWS DATABASE"}]