Code/IWS FLOW.json
[{"id":"4db7dd04.e86094","type":"tab","label":"Final Project GB-21","disabled":false,"info":""},{"id":"297ceb4e.d38184","type":"cloudant in","z":"4db7dd04.e86094","name":"Bin DB Search","cloudant":"23331d98.78bc92","database":"gb21wastedb","service":"_ext_","search":"_id_","design":"","index":"","x":140,"y":240,"wires":[["c0f0635c.14ad6"]]},{"id":"c0f0635c.14ad6","type":"function","z":"4db7dd04.e86094","name":"MSG CONVERT 2","func":"if(msg.payload === null){\n    msg.payload==\"zzz\"\n    return msg;\n}\nmsg.payload=msg.payload.type;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["90b83a3d.0faa98"]]},{"id":"90b83a3d.0faa98","type":"switch","z":"4db7dd04.e86094","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"organic","vt":"str"},{"t":"eq","v":"recyclable","vt":"str"},{"t":"eq","v":"rubbish","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":90,"y":460,"wires":[["34ab6cc6.c1bb34"],["bf36b64d.dd1cc","f5d3fa13.8c7b1"],["bf36b64d.dd1cc","f47183c3.b2a97"],["bf36b64d.dd1cc","f47183c3.b2a97"]]},{"id":"ebddc1c0.501a6","type":"trigger","z":"4db7dd04.e86094","op1":"1","op2":"30","op1type":"json","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"Open Initial Buffer Flap","x":520,"y":420,"wires":[["576779a7.f55538"]]},{"id":"576779a7.f55538","type":"pi-gpiod out","z":"4db7dd04.e86094","name":"Initial Buffer","host":"localhost","port":8888,"pin":"2","set":"","level":"0","out":"ser","sermin":"600","sermax":"2400","x":790,"y":420,"wires":[]},{"id":"34ab6cc6.c1bb34","type":"trigger","z":"4db7dd04.e86094","op1":"1","op2":"30","op1type":"json","op2type":"str","duration":"4","extend":false,"units":"s","reset":"","name":"Open Initial Buffer Flap","x":450,"y":360,"wires":[["576779a7.f55538"]]},{"id":"ed1e15e2.eff5f","type":"debug","z":"4db7dd04.e86094","name":"","active":true,"console":"true","complete":"true","x":659,"y":156,"wires":[]},{"id":"f5d3fa13.8c7b1","type":"trigger","z":"4db7dd04.e86094","op1":"75","op2":"30","op1type":"json","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","name":"Open Recyclable Flap","x":420,"y":480,"wires":[["748585db.80a7ec"]]},{"id":"bf36b64d.dd1cc","type":"delay","z":"4db7dd04.e86094","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":420,"wires":[["ebddc1c0.501a6"]]},{"id":"748585db.80a7ec","type":"pi-gpiod out","z":"4db7dd04.e86094","name":"Recyclable Bin","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"700","sermax":"2200","x":780,"y":480,"wires":[]},{"id":"8f4bff34.5bef18","type":"function","z":"4db7dd04.e86094","name":"MSG CONVERT","func":"var words = msg.payload.split(\" \");\nvar newMsg = { _msgid: msg._msgid, topic: \"\", payload: words[0] };\nreturn newMsg;","outputs":"1","noerr":0,"x":200,"y":160,"wires":[["297ceb4e.d38184","ed1e15e2.eff5f"]]},{"id":"468cbc02.13a724","type":"pi-gpiod out","z":"4db7dd04.e86094","name":"Rubbish Bin","host":"localhost","port":8888,"pin":"11","set":"","level":"0","out":"ser","sermin":"700","sermax":"2200","x":734,"y":536,"wires":[]},{"id":"f47183c3.b2a97","type":"trigger","z":"4db7dd04.e86094","op1":"1","op2":"40","op1type":"json","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","name":"Open Recyclable Flap","x":420,"y":540,"wires":[["468cbc02.13a724"]]},{"id":"600953db.f0afe4","type":"microPi","z":"4db7dd04.e86094","name":"microPi","filename":"/home/pi/Desktop/demo.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"true","mode":"777","x":246,"y":61,"wires":[[],["b0e51982.0cc55"],[]]},{"id":"6ad2da78.38636c","type":"inject","z":"4db7dd04.e86094","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":84,"y":20,"wires":[["600953db.f0afe4"]]},{"id":"e69ed48c.330498","type":"inject","z":"4db7dd04.e86094","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":79,"y":112,"wires":[["600953db.f0afe4"]]},{"id":"b0e51982.0cc55","type":"watson-speech-to-text","z":"4db7dd04.e86094","name":"Dexter's ears and brains","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"SVnfQASHvxFl","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":486,"y":58,"wires":[["8f4bff34.5bef18"]]},{"id":"23331d98.78bc92","type":"cloudant","z":"","host":"705ba772-dcb6-49e2-9357-132111ab40c5-bluemix.cloudant.com","name":"IWS BinDetails DB"}]